body {
    color: black;
    font-family: Roboto;
    text-align: center;
    position: relative;
    left: auto;
  }
  
  @media screen and (min-width: 300px) {
    body {
      background-color: lightgreen;
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  }

li:hover{
    transform: scale(0.92);
}

h1 {
  color: white;
  text-align: left;
  background: url(track.jpeg);
  height: 200px;
}

h2 {
  position: static;
  text-align: center;
}

h2:hover, h3:hover {
    transform: scale(0.99);
}
a {
    color: brown;
    font-weight: bold;
}


section {
  margin-top: 50px;
  width: 90%;
  margin-left: 5%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #084B8A;
  border-radius: 5px;
  color: white;
}

li {
  list-style-type: none;
}
footer {
    position: static;
    text-align: center;
}

footer ul {
    list-style-type: none;
}
